useDynLib(golden, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(data.table)

S3method(print, eldoradosim_parameters)
S3method(print, eldoradosim_hazard)
S3method(print, eldoradosim_transition)
S3method(print, eldoradosim_trajectory)
S3method(print, eldoradosim_history)
S3method(print, eldoradosim_history_column)
S3method(str, eldoradosim_parameters)
S3method(str, eldoradosim_hazard)
S3method(str, eldoradosim_transition)
S3method(str, eldoradosim_trajectory)
S3method(str, eldoradosim_history)
S3method(str, eldoradosim_history_column)