useDynLib(golden, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(data.table)

S3method(print, golden_parameters)
S3method(print, golden_hazard)
S3method(print, golden_transition)
S3method(print, golden_trajectory)
S3method(print, golden_history)
S3method(print, golden_history_column)
S3method(print, golden_timing)